<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386017314845-24dah7plh63vhalgk93h3o3p5vrssnb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386017314845-24dah7plh63vhalgk93h3o3p5vrssnb3</string>
	<key>API_KEY</key>
	<string>AIzaSyAy08_iHpemUz1Nd_b-pLgG30TKTmz3CZU</string>
	<key>GCM_SENDER_ID</key>
	<string>386017314845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>oneopinion-6df14</string>
	<key>STORAGE_BUCKET</key>
	<string>oneopinion-6df14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386017314845:ios:86c733f482da0f71135ef4</string>
	<key>DATABASE_URL</key>
	<string>https://oneopinion-6df14.firebaseio.com</string>
</dict>
</plist>